body {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
} 

/* typography and icons */

h1, h2, p {
    margin: 0;
}

/* buttons */

.submit-order, .pay {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 200px;
    background-color: #16DB99;
    color: white
}

.pay {
    width: 415px;
}

.submit-order:hover{
    background-color: #0f835c;
}

.pay:hover{
    background-color: #0f835c;
}


/* layout */

header {
    height: 167px;
    display: flex;
    background-image: url("img/ferksBurger.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;
    align-items: center;
}

main, header{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.header-inner {
    text-align: center;
    margin-right: auto;
    padding: 10px 30px;
}

footer {
    bottom: 0;
    width: 1000px;
    margin-top: 125px;
    padding-top: 5px;
    clear: both;
    position: relative;
    height: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* menu */

.image {
    width: 100px;
}

.menu-item-inner{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #D2D2D2;
    gap: 10px;
}

.menu-item-detail{
line-height: 30px;
}

.menu-item-container {
    display: flex;
    width: 508px;
    height: 140px;
    text-align: left;
    margin-left: 20px;
    justify-content:  center;
    flex-direction: column;
    gap: 10px;
}

/* Your Order Section */

.hidden{
    display: none;
}

.order-menu{
    margin-bottom: 15px;
}


.your-order-item{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.order-item, .order-total {
    display: flex;
    justify-content: space-between
}

.order-item {
    position: relative;
    padding: 5px 0;
}

.order-total {
    border-top: 1px solid black ;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.order-total p{
    margin-top: 10px;
}

.remove-btn {
    position: absolute;
    left: 100px;
    bottom: 5px;
    border: none;
    background-color: white;
    font-size: 12px;
    
}


/* Pay Modal */

.pay-modal {
    position: absolute;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 20px black;
    background-color: white;
    bottom: 40px;
    left: 250px;
    width: 500px;
    height: 450px;
}

.pay-modal-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.pay-modal h2 {
    margin-top: 50px;
}


.pay-modal-inner input {
    width: 400px;
    height: 30px;
    padding: 5px;
    margin-bottom: 20px;
}


/* Media Queries */

@media (max-width: 1000px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    body, 
    header, 
    main, 
    .menu-item-inner,
    .order-total ,
    .your-order-item,
    footer  {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    body, 
    header, 
    main, 
    .menu-item-inner, 
    .order-total ,
    .your-order-item,
    .menu-item-container,
    footer  {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-item-container {
        height: 140px;
    }

}




