body {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
} 

/* typography and icons */

h1, h2, p {
    margin: 0;
}

/* buttons */



/* layout */

header {
    height: 167px;
    display: flex;
    background-image: url("img/ferksBurger.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;
    align-items: center;
}

main, header{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.header-inner {
    text-align: center;
    margin-right: auto;
    padding: 10px 30px;
}

footer {
    bottom: 0;
    width: 1000px;
    margin-top: 125px;
    padding-top: 5px;
    clear: both;
    position: relative;
    height: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* menu */

.image {
    width: 100px;
}

.menu-item-inner{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #D2D2D2;
    gap: 10px;
}

.menu-item-detail{
line-height: 30px;
}

.menu-item-container {
    display: flex;
    width: 508px;
    height: 140px;
    text-align: left;
    margin-left: 20px;
    justify-content:  center;
    flex-direction: column;
    gap: 10px;
}

/* Media Queries */

@media (max-width: 1000px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    body, 
    header, 
    main, 
    .menu-item-inner, 
    footer  {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    body {
        margin: 0 auto;
        text-align: center;
    } 

    body, 
    header, 
    main, 
    .menu-item-inner, 
    .menu-item-container,
    footer  {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-item-container {
        height: 140px;
    }

}




